* :focus {
    outline: none !important;
}

.greenButton {
    color: white;
    background-color: #00A0B0,

}

.greenButton:hover() {
    background-color: #00A0B0;
}

.orangeButton {
    color: white;
    background-color: #e3703b;
}

.orangeButton:hover {
    background-color: #e76123;
}
