.navbar {
    background: linear-gradient(45deg, #279daa 30%, #20cadd 90%);
    height: 70px;
    display: flex;
    align-items: right;
    justify-content: start;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #279daa;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left:0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: nome;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #e3703b;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #279daa;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
    align-items: right;
}



 .navbar-brand-sidebar img {
     width: 130px;
     border-radius: 40%;
     align-items: initial;
 }

 @keyframes funnyColor {
    from {background-color:#e3703b;}
    to {background-color: #2dc5d6; }
  }

  .typography {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }