.navbar {
    background-color: #279daa;
    height: 80px;
    display: flex;
    align-items: right;
    justify-content: start;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #279daa;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left:0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: nome;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(255, 94, 0);
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #279daa;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
    align-items: right;
}

.navbar-brand { 
    margin-left: 700px;
    border-radius: 10%;
    position: flex;
    animation-name: funnyColor;
     animation-duration: 4s;
     align-items: center;
     background-color:orange;
 }

 .navbar-brand img {
     width: 190px;
     border-radius: 45%;
     position: relative; 
 }

 @keyframes funnyColor {
    from {background-color:orange;}
    to {background-color: #2dc5d6; }
  }
