* :focus {
    outline: none !important;
}

.greenButton {
    color: white;
    background-color: #33c1d1,

}

.greenButton:hover() {
    background-color: #2aadbb;
}

.orangeButton {
    color: white;
    background-color: #e3703b;
}

.orangeButton:hover {
    background-color: #e76123;
}
