.App {
	text-align: center;
}

.App-logo {
	height: 20vmin;
	pointer-events: none;
}

.App-header {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.bg-white {
	background-color: white;
}

.active {
	font-weight: 600;
}

.background {
	background-image: url('../src/imagenes/pyme_background.jpg');
	background-position: center;
	background-size: cover;
}

.bg-observatorio {
	background-image: url('../src/imagenes/building.jpg');
	background-position: top;
}
